body{
  width:100%;
  height:100%;
  overflow-wrap:break-word;
}
#wrapper{
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS     PMincho", serif;
  overflow:hidden;
}
header{
  width:100%;
  height:8vh;
}

header .header__main__list{
  height:8vh;
  display:flex;
  justify-content:space-around;
  align-items:center;
}
header #header__hidden__content{
  display:none;
}
header  ul li{
  font-size:1.5vw;
}
header ul li:hover{
  opacity:0.6;
}    
header ul .logo{
  font-size:2vw;
  color:blue;
}
main{
  width:100%;
  height:100%;
}
main #main__corpolate{
  width:100%;
  height:100%;
}
main #main__corpolate .corpolate__image{
  width:100%;
  height:51vw;
  background-image:url("fm10.jpg");
  background-position:center center;
  background-size:cover;
}    
main #main__corpolate .corpolate__title h2{
  font-size:4vw;
  text-shadow:1px 1px 1px #000;
  color:#fff;
  padding: 10vw 0vw 0vw 10vw;
}    
main #main__corpolate .corpolate__title h3{
  font-size:3vw;
  text-shadow:1px 1px 1px #000;
  color:#fff;
  margin: 3vw 0vw 0vw 10vw;
}

main .corpolate__top{
  width:100%;
  height:35vw;
  margin-top:20vw;
  margin-left:5vw;
  display:flex;
  justify-content:center;
}    
main .corpolate__top .corpolate__top__image{
  background-image:url("fm3.jpg");
  background-position:center center;
  background-size:cover;
  width:35%;
  height:25vw;
}

main .corpolate__top .corpolate__top__text{
  width:50%;
  height:30vw;
}    
main .corpolate__top .corpolate__top__text h2{
  font-size:2.5vw;
  text-shadow:1px 1px 1px #fff;
  margin-left:-10vw;
  margin-top:-5vw;
}
main .corpolate__top .corpolate__top__text h3{
  font-size:2.5vw;
  text-shadow:1px 1px 1px #fff;
  margin-left:-5vw;
  margin-top:3vw;
}    

main .corpolate__top .corpolate__top__text p{
  font-size:1.2vw;
  letter-spacing:2px;
  margin-top:3vw;
  margin-left:6vw;
  line-height:2em;
}
main .corpolate__bottom{
  width:100%;
  height:35vw;
  margin-top:10vw;
  margin-left:5vw;
  display:flex;
  justify-content:center;
}
main .corpolate__bottom .corpolate__bottom__image{
   background-image:url("fm3.jpg");
  background-position:center center;
  background-size:cover;
  width:35%;
  height:25vw;
}
main .corpolate__bottom .corpolate__bottom__text{
  width:50%;
  height:40vw;
}    
main .corpolate__bottom .corpolate__bottom__text h2{
  font-size:2.5vw;
  text-shadow:1px 1px 1px #fff;
  margin-left:-8vw;
  margin-top:-5vw;
 
}    
main .corpolate__bottom .corpolate__bottom__text h3{
  font-size:2.5vw;
  text-shadow:1px 1px 1px #fff;
  margin-left:-5vw;
  margin-top:3vw;

}    
main .corpolate__bottom .corpolate__bottom__text p{
  font-size:1.2vw;
  letter-spacing:2px;
  margin-top:3vw;
  margin-left:6vw;
  line-height:2em;
}    
main #corpolate__overview{
  width:100%;
  height:60vh;
  margin-top:5vw;
  margin-left:40%;
}
main #corpolate__overview h2{
  font-size:2.5vw;
  font-weight:bold;
  margin-top:5vw;
  margin-left:-3vw;
}
main #corpolate__overview h3{
  font-size:2vw;
  margin-top:3vw;
  margin-left:8vw;
}

main #corpolate__overview ul{
  width:100%;
  height:40vh;
}    
main #corpolate__overview ul li{
  font-size:1.2vw;
  margin-top:3vw;
  letter-spacing:1px;
}    

main #corpolate__overview ul .three__line{
  font-size:1.5vw;
  margin-left:4.8vw;
}
main #corpolate__overview ul .two__line{
  font-size:1.5vw;
  margin-left:6.2vw;
}  
main #corpolate__overview ul .fourth__line{
  font-size:1.5vw;
  margin-left:3.3vw;
}  
main #corpolate__overview ul .fivth__line{
  font-size:1.5vw;
  margin-left:2vw;
}  
footer{
  border-top:1px solid #bbb;
  margin-top:15vw;
  width:100%;
  height:35vw;
}

#footer__content{
   width:100%;
   height:100%;
   position:relative;
}
#footer__content .footer__info{
   width:100%;
   height:30vw;
   display:flex;
   justify-content:center;
   align-items:center;
}

#footer__content .footer__info .footer__left__text p{
   font-size:2vw;
   margin-bottom:1vw;
   letter-spacing:2px;
}
#footer__content .footer__info .footer__right__title h2{
  font-size:2.5vw;
  color:blue;
   margin-left:2vw;
}
#footer__content .footer__image{      
   width:25vw;
   height:20vw;
   background-image:url("fm11.jpg");
   background-position:center center;
   background-size:cover;
   position:absolute;
   top:2vw;
   left:70vw;
   z-index:-1;
}
#footer__content .footer__list ul{
  display:flex;
  justify-content:space-around;
  align-items:center;
}
#footer__content  .footer__list li{
  font-size:1.5vw;
}

@media only screen and (max-width:1030px)
{
header #header__hidden__content{
   display:none;
}    
   
main #corpolate__overview{
  height:30vh;
}
main .corpolate__top .corpolate__top__text p{
  font-size:2vw;
  line-height:1.5em;
}  
main .corpolate__bottom .corpolate__bottom__text p{
  font-size:2vw;
  line-height:1.5em;
}
main #corpolate__overview ul li{
  font-size:1.5vw;
}
main #corpolate__overview ul .two__line{
  font-size:2vw;  
}
main #corpolate__overview ul .three__line{
  font-size:2vw;
}    
main #corpolate__overview ul .fourth__line{
  font-size:2vw;
}    
main #corpolate__overview ul .fivth__line{
  font-size:2vw;
}
}
@media only screen and (max-width:970px){
header #header__hidden__content{
   display:none;
}     
main .corpolate__top .corpolate__top__text p{
  font-size:2vw;
  line-height:1.5em;
}  
main .corpolate__bottom .corpolate__bottom__text p{
  font-size:2vw;
  line-height:1.5em;
}
main #corpolate__overview{
  height:30vh;
}



}
@media only screen and (max-width:550px){
header{
   position:relative;    
}    
header .header__main__list{
   display:none;
}
header #header__hidden__content{
   display:block;
   width:100%;
   height:100%;
}
header #header__hidden__content .header__hidden__main{
   width:100%;
   height:100%;
   display:flex;
   justify-content:space-between;
   align-items:center;
}
 
header #header__hidden__content .header__hidden__main .hidden__title h2{
  font-size:16px;
  margin-left:5vw;
}    
header #header__hidden__content .header__menu div{
   width:5vw;
   height:1vw;
   margin-right:5vw;
   border-top:2px solid #000;
   padding-bottom:1vw;
}    

header #header__hidden__content .header__hidden__list{
   display:none;
}    
header #header__hidden__content .header__hidden__list.active{
   display:block;
   width:100%;
   height:60vw;
   background-color:#fff;
   z-index:3;
   position:absolute;
   animation:listAnimation 0.5s;
}
@keyframes listAnimation{
   0%{
       transform:translateX(-50vw);
    }
   100%{
     transform:translateX(0vw);
    }
}
 
header #header__hidden__content .header__hidden__list ul .close__btn{
   font-size:10vw;
   margin-top:0vw;
   margin-left:85vw;
}    
header #header__hidden__content .header__hidden__list ul li{
   font-size:3vw;
   font-size:bold;
   margin-top:5vw;
   text-align:center;
}

main .corpolate__top{
  flex-direction:column;
  width:100%;
  margin-left:0vw;
  margin-top:0vw;
  height:60vh;
}
    
main .corpolate__top .corpolate__top__image{
  display:none;
}
main .corpolate__top .corpolate__top__text{
  width:100%;
  height:40vw;
  text-align:center;
}

main .corpolate__top .corpolate__top__text h2{
  margin-left:0vw;
  font-size:16px;
  font-weight:bold;
}
main .corpolate__top .corpolate__top__text h3{
  margin-left:0vw;
  font-size:15px;
}    
main .corpolate__top .corpolate__top__text p{
  line-height:1.5em;
  font-size:15px;
  margin-left:0vw;
}
main .corpolate__bottom{
  flex-direction:column;
  width:100%;
  height:70vh;
  margin-left:0vw;
  margin-top:5vw;
}
main .corpolate__bottom .corpolate__bottom__image{
  width:100%;
  height:40vw;
}

main .corpolate__bottom .corpolate__bottom__text{
  width:100%;
  height:50vw;
  text-align:center;
}    
main .corpolate__bottom .corpolate__bottom__text h2{
  font-size:16px;
  font-weight:bold;
  margin-top:5vw;
  margin-left:0vw;
}
main .corpolate__bottom .corpolate__bottom__text h3{
  font-size:15px;
  margin-left:0vw;
}    
main .corpolate__bottom .corpolate__bottom__text p{
  line-height:1.5em;
  font-size:15px;
  margin-left:0vw;
}

main #corpolate__overview{
  margin-top:20vw;
  margin-left:13%;
  height:40vh;
}
main #corpolate__overview h2{
  font-size:16px;
  margin-left:8%;
}

main #corpolate__overview h3{
  font-size:15px;
  margin-left:23%;
}
    
main #corpolate__overview ul .two__line{
  font-size:15px;  
}
main #corpolate__overview ul .three__line{
  font-size:15px;
}    
main #corpolate__overview ul .fourth__line{
  font-size:15px;
}    
main #corpolate__overview ul .fivth__line{
  font-size:15px;
}

footer{
  height:40vw;
}
footer #footer__content .footer__image{
  display:none;
}
footer #footer__content .footer__list{
  height:15vh;
}
footer #footer__content .footer__info{
  display:none;
}
footer #footer__content .footer__list ul{
   flex-direction:column;
   border-top:1px solid #bbb;
}    
footer #footer__content .footer__list ul li{
   padding-top:3vw;
   font-size:15px;
}
 
footer #footer__content .footer__list ul li:hover{
  opacity:0.6;
}
}
@media only screen and (max-width:300px){
header #header__hidden__content .header__hidden__list.active{
  height:41vh;    
}
main #main__corpolate .corpolate__image{
  height:40vh;
}

main #corpolate__overview {
  margin-left:8vw;   
}
main #corpolate__overview ul .two__line{
  font-size:13px;  
}
main #corpolate__overview ul .three__line{
  font-size:13px;
}    
main #corpolate__overview ul .fourth__line{
  font-size:13px;
}    
main #corpolate__overview ul .fivth__line{
  font-size:13px;
}

main #corpolate__overview h2{
  margin-left:8vw;
}    
main #corpolate__overview h3{
  margin-left:25vw;
}
