body{                                 
  width:100%;
  height:100%;
  overflow-wrap:normal;
}
#wrapper{   
  width:100%;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS     PMincho", serif;
  overflow:hidden;
}   
header{
  width:100%;
  height:8vh;
}
header #header__hidden__content{
  display:none;
}
header .header__main__list{
  width:100%;
  height:100%;
  display:flex;
  justify-content:space-around;
  align-items:center;
}   
header ul .logo{
  font-size:2vw;
  color:blue;
}  
header ul li{
  font-size:1.5vw;
}
header ul li:hover{
  opacity:0.6;
}    
main{
  width:100%;
  height:100%;
}
main #store__index{
  width:100%;
  height:100%;
}
main #store__index .store__index__top{
  width:100%;
  height:100%;
  text-align:center;
  margin:auto;
}

main #store__index .store__index__top h2{
  font-size:2vw;
  font-weight:bold;
  margin-top:5vw;
}

main #store__index .store__index__top h3{
  font-size:2vw;
  margin-top:2vw;
  margin-bottom:3vw;
}
main #store__index .store__index__top .store__index__image{
  margin:auto;
  width:80%;
  height:30vw;
  background-image:url("image/fm6.jpg");
  background-position:center center;
  background-size:cover;
}
main #store__index .store__index__bottom{
  width:100%;
  margin-top:10vw;
  height:30vw;
}

main #store__index .store__index__bottom
.store__index__bottom__text{
  display:flex;
  justify-content:center;
  text-align:center;
}    
main #store__index .store__index__bottom .store__index__bottom__text h3{
   font-size:2vw;
   margin-top:3vw;
   width:50%;
}
main #store__index .store__index__bottom .store__index__bottom__text p{
  width:50%;
  font-size:1.2vw;
  margin-top:2vw;
  margin-left:-8vw;
  line-height:2em;
  letter-spacing:2px;
}
main #store__list{
  width:100%;
  height:100%;
}
main #store__list h2{
  font-size:2vw;
  font-weight:bold;
  margin-top:5vw;
  text-align:center;
}
main #store__list h3{
  font-size:2vw;
  margin-top:2vw;
  text-align:center;
}
main #store__list .store__list__content{
  width:100%;
  height:100%;
}

main #store__list .store__list__content .store__area__souka{
  width:100%;
  height:50vh;
}

main #store__list .store__list__content .store__area__souka h2{
  font-size:1.5vw;
  font-weight:bold;
  text-align:center;
}    
main #store__list .store__list__content .store__area__souka h3{
  font-size:1.2vw;
  text-align:center;
  margin-top:2vw;
}    
main #store__list .store__list__content .store__area__souka h3 span{
  font-size:2vw;
  font-weight:bold;
  margin-left:2vw;
}

main #store__list .store__list__content .store__area__souka ul{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}    
main #store__list .store__list__content .store__area__souka ul li{
  width:20%;
  height:40vh;
  margin-left:3vw;
  margin-top:3vw;
}    
main #store__list .store__list__content .store__area__souka ul li img{
  width:20vw;
  height:20vh;
}

main #store__list .store__list__content .store__area__souka ul li .store__name{
  font-size:1.5vw;
  font-weight:bold;
  margin-top:1vw;
}    

main #store__list .store__list__content .store__area__souka ul li .store__address{
  font-size:1.2vw;
  margin-top:1vw;
}
main #store__list .store__list__content .store__area__souka ul li .store__tel{
  font-size:1.2vw;
  margin-top:1vw;
}    

main #store__list .store__list__content .store__area__souka ul li .store__info{
  font-size:1.2vw;
  margin-top:1vw;
}

main #store__list .store__list__content .store__area__souka ul li .store__recrute{
  font-size:1.2vw;
  margin-top:3vw;
  opacity:0.6;
}    
main #store__list .store__list__content .store__area__souka ul li .store__recrute:hover{
  opacity:1;
}    
  font-size:1.2vw;
main #store__list .store__list__content .store__area__urawa{
  width:100%;
  height:50vh;
}

main #store__list .store__list__content .store__area__urawa h2{
  font-size:1.5vw;
  font-weight:bold;
  text-align:center;
  margin-top:15vw;
}    
main #store__list .store__list__content .store__area__urawa h3{
  font-size:1.2vw;
  text-align:center;
  margin-top:2vw;
}    
main #store__list .store__list__content .store__area__urawa h3 span{
  font-size:2vw;
  font-weight:bold;
  margin-left:2vw;
}

main #store__list .store__list__content .store__area__urawa ul{
  display:flex;
  justify-content:center;
}    
main #store__list .store__list__content .store__area__urawa ul li{
  width:20%;
  height:40vh;
  margin-left:5vw;
  margin-top:3vw;
}    
main #store__list .store__list__content .store__area__urawa ul li img{
  width:20vw;
  height:20vh;
}

main #store__list .store__list__content .store__area__urawa ul li .store__name{
  font-size:1.5vw;
  font-weight:bold;
  margin-top:1vw;
}    

main #store__list .store__list__content .store__area__urawa ul li .store__address{
  font-size:1.2vw;
  margin-top:1vw;
}
main #store__list .store__list__content .store__area__urawa ul li .store__tel{
  font-size:1.2vw;
  margin-top:1vw;
}    

main #store__list .store__list__content .store__area__urawa ul li .store__info{
  font-size:1.2vw;
  margin-top:1vw;
}    

main #store__list .store__list__content .store__area__urawa ul li .store__recrute{
  font-size:1.2vw;
  margin-top:3vw;
  opacity:0.6;
}    
main #store__list .store__list__content .store__area__urawa ul li .store__recrute:hover{
  opacity:1;   
}
main #store__list .store__list__content .store__area__iwatuki{
  width:100%;
  height:50vh;
  margin-top:15vw;
}

main #store__list .store__list__content .store__area__iwatuki h2{
  font-size:1.5vw;
  font-weight:bold;
  text-align:center;
}    
main #store__list .store__list__content .store__area__iwatuki h3{
  font-size:1.2vw;
  text-align:center;
  margin-top:2vw;
}    
main #store__list .store__list__content .store__area__iwatuki h3 span{
  font-size:2vw;
  font-weight:bold;
  margin-left:2vw;
}

main #store__list .store__list__content .store__area__iwatuki ul{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}    
main #store__list .store__list__content .store__area__iwatuki ul li{
  width:20%;
  height:40vh;
  margin-left:5vw;
  margin-top:3vw;
}    
main #store__list .store__list__content .store__area__iwatuki ul li img{
  width:20vw;
  height:20vh;
}

main #store__list .store__list__content .store__area__iwatuki ul li .store__name{
  font-size:1.5vw;
  font-weight:bold;
  margin-top:1vw;
}    

main #store__list .store__list__content .store__area__iwatuki ul li .store__address{
  font-size:1.2vw;
  margin-top:1vw;
}
main #store__list .store__list__content .store__area__iwatuki ul li .store__tel{
  font-size:1.2vw;
  margin-top:1vw;
}    

main #store__list .store__list__content .store__area__iwatuki ul li .store__info{
  font-size:1.2vw;
  margin-top:1vw;
}
main #store__list .store__list__content .store__area__iwatuki ul li .store__recrute{
  font-size:1.2vw;
  margin-top:3vw;
  opacity:0.6;
}    
main #store__list .store__list__content .store__area__iwatuki ul li .store__recrute:hover{
  opacity:1;
}    
main #store__list .store__list__content .store__area__oomiya{
  width:100%;
  height:50vh;
  margin-top:15vw;
}

main #store__list .store__list__content .store__area__oomiya h2{
  font-size:1.5vw;
  font-weight:bold;
  text-align:center;
}    
main #store__list .store__list__content .store__area__oomiya h3{
  font-size:1.2vw;
  text-align:center;
  margin-top:2vw;
}    
main #store__list .store__list__content .store__area__oomiya h3 span{
  font-size:2vw;
  font-weight:bold;
  margin-left:2vw;
}

main #store__list .store__list__content .store__area__oomiya ul{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}    
main #store__list .store__list__content .store__area__oomiya ul li{
  width:20%;
  height:40vh;
  margin-left:3vw;
  margin-top:3vw;
}    
main #store__list .store__list__content .store__area__oomiya ul li img{
  width:20vw;
  height:20vh;
}

main #store__list .store__list__content .store__area__oomiya ul li .store__name{
  font-size:1.5vw;
  font-weight:bold;
  margin-top:1vw;
}    

main #store__list .store__list__content .store__area__oomiya ul li .store__address{
  font-size:1.2vw;
  margin-top:1vw;
}
main #store__list .store__list__content .store__area__oomiya ul li .store__tel{
  font-size:1.2vw;
  margin-top:1vw;
}    

main #store__list .store__list__content .store__area__oomiya ul li .store__info{
  font-size:1.2vw;
  margin-top:1vw;
} 

main #store__list .store__list__content .store__area__oomiya ul li .store__recrute{
  font-size:1.2vw;
  margin-top:3vw;
  opacity:0.6;
}    
main #store__list .store__list__content .store__area__oomiya ul li .store__recrute:hover{
  opacity:1;
}    
main #store__list .store__list__content .store__area__tokyo{
  width:100%;
  height:50vh;
  margin-top:15vw;
}

main #store__list .store__list__content .store__area__tokyo h2{
  font-size:1.5vw;
  font-weight:bold;
  text-align:center;
}    
main #store__list .store__list__content .store__area__tokyo h3{
  font-size:1.2vw;
  text-align:center;
  margin-top:2vw;
}    
main #store__list .store__list__content .store__area__tokyo h3 span{
  font-size:2vw;
  font-weight:bold;
  margin-left:2vw;
}

main #store__list .store__list__content .store__area__tokyo ul{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}    
main #store__list .store__list__content .store__area__tokyo ul li{
  width:20%;
  height:50vh;
  margin-left:5vw;
  margin-top:3vw;
}    
main #store__list .store__list__content .store__area__tokyo ul li img{
  width:20vw;
  height:20vh;
}

main #store__list .store__list__content .store__area__tokyo ul li .store__name{
  font-size:1.5vw;
  font-weight:bold;
  margin-top:1vw;
}    

main #store__list .store__list__content .store__area__tokyo ul li .store__address{
  font-size:1.2vw;
  margin-top:1vw;
}
main #store__list .store__list__content .store__area__tokyo ul li .store__tel{
  font-size:1.2vw;
  margin-top:1vw;
}    

main #store__list .store__list__content .store__area__tokyo ul li .store__info{
  font-size:1.2vw;
  margin-top:1vw;
}
main #store__list .store__list__content .store__area__tokyo ul li .store__recrute{
  font-size:1.2vw;
  margin-top:2vw;
  opacity:0.6;
}    
main #store__list .store__list__content .store__area__tokyo ul li .store__recrute:hover{
  opacity:1;
}    
footer{
  border-top:1px solid #bbb;
  margin-top:8vw;
  width:100%;
  height:35vw;
} 
#footer__content{
  width:100%;
  height:100%;
  position:relative;
}
#footer__content .footer__info{
  width:100%;
  height:30vw;
  display:flex;
  justify-content:center;
  align-items:center;
} 
 
#footer__content .footer__info .footer__left__text p{
  font-size:2vw;
   margin-bottom:1vw;
}
#footer__content .footer__info .footer__right__title h2{
   font-size:2.5vw;
   color:blue;
   margin-left:2vw;
}

#footer__content .footer__image{
  width:25vw;
  height:20vw;
  background-image:url("image/fm11.jpg");
  background-position:center center;
  background-size:cover;
  position:absolute;
  top:2vw;
  left:70vw;
  z-index:-1;
}
#footer__content .footer__list ul{
  display:flex;
  justify-content:space-around;
  align-items:center;
}
#footer__content  .footer__list li{
  font-size:1.5vw;
}

@media only screen and (max-width:1030px){
header{
   position:relative;    
}
header .header__main__list{
  display:none;
}
header #header__hidden__content{
  display:block;
  width:100%;
  height:100%;
}
header #header__hidden__content .header__hidden__main{
  width:100%;
  height:100%;
  display:flex;
  justify-content:space-between;   
  align-items:center;
}
 
header #header__hidden__content .header__hidden__main .hidden__title h2{
  font-size:16px;
  margin-left:5vw;
}
header #header__hidden__content .header__menu div{
  width:5vw;   
  height:1vw;
  margin-right:5vw;
  border-top:2px solid #000;
  padding-bottom:1vw;
} 
header #header__hidden__content .header__hidden__list{
  display:none;
}
header #header__hidden__content .header__hidden__list.active{
   display:block;
   width:100%;
   height:80vw;
   background-color:#fff;
   z-index:3;
   position:absolute;
   animation:listAnimation 0.5s;
}
@keyframes listAnimation{
   0%{
     transform:translateX(-50vw);
  }
   100%{
     transform:translateX(0vw);
   }
  }
 
header #header__hidden__content .header__hidden__list ul .close__btn{
  font-size:10vw;
  margin-top:0vw;
  margin-left:85vw;
}    
header #header__hidden__content .header__hidden__list ul li{
  font-size:3vw;
  font-size:bold;
  margin-top:5vw;
  text-align:center;
}

main #store__index .store__index__top{
  height:40vh;
}

main #store__index .store__index__top .store__index__image{
  height:40vw;
}
main #store__index .store__index__bottom{
  height:30vh;
}
main #store__index .store__index__bottom .store__index__bottom__text{
  flex-direction:column;
  text-align:center;
}    
main #store__index .store__index__bottom .store__index__bottom__text .store__title{
  font-size:16px;
  font-weight:bold;
  width:100%;
}
    
  
main #store__index .store__index__bottom .store__index__bottom__text .store__text{
  font-size:15px;
  line-height:3em;
  margin-top:3vw;
  width:100%;
  margin-left:0vw;
}

main #store__list h2{
  font-size:15px;
}
main #store__list h3{
  margin-bottom:16px;
}
main #store__list .store__list__content .store__area__souka{
  height:100%;
}    
main #store__list .store__list__content .store__area__souka h2{
  font-size:15px;
}    
main #store__list .store__list__content .store__area__souka h3 span{
  font-size:16px;
}    
main #store__list .store__list__content .store__area__souka ul{
  flex-direction:column;
}

main #store__list .store__list__content .store__area__souka ul li{
  width:80%;
  height:50vh;
  margin:auto;
  text-align:center;
}

main #store__list .store__list__content .store__area__souka ul li .store__address{
  font-size:15px;
}

main #store__list .store__list__content .store__area__souka ul li .store__tel{
   font-size:15px;
}    
main #store__list .store__list__content .store__area__souka ul li .store__info{
  font-size:15px;
}

main #store__list .store__list__content .store__area__souka ul li .store__recrute{
  font-size:15px;
}    
main #store__list .store__list__content .store__area__souka ul li .store__name{
  font-size:15px;
  margin-top:2vw;
}    
main #store__list .store__list__content .store__area__souka ul li img{
  width:100%;
}
main #store__list .store__list__content .store__area__urawa{
  height:100%;
}
main #store__list .store__list__content .store__area__urawa h2{
  font-size:15px;
}    
main #store__list .store__list__content .store__area__urawa h3 span{
  font-size:16px;
}    

main #store__list .store__list__content .store__area__urawa ul {
  flex-direction:column;
}    
main #store__list .store__list__content .store__area__urawa ul li{
  width:80%;
  height:50vh;
  margin:auto;
  text-align:center;
}
main #store__list .store__list__content .store__area__urawa ul li .store__address{
  font-size:15px;
}

main #store__list .store__list__content .store__area__urawa ul li .store__tel{
   font-size:15px;
}    
main #store__list .store__list__content .store__area__urawa ul li .store__info{
  font-size:15px;
}    
main #store__list .store__list__content .store__area__urawa ul li .store__recrute{
  font-size:15px;
}    
main #store__list .store__list__content .store__area__urawa ul li .store__name{
  font-size:15px;
  margin-top:2vw;
}    

main #store__list .store__list__content .store__area__urawa ul li img{
  width:100%;   
}
main #store__list .store__list__content .store__area__iwatuki{
  height:100%;
}
main #store__list .store__list__content .store__area__iwatuki ul {
  flex-direction:column;
}
main #store__list .store__list__content .store__area__iwatuki h2{
  font-size:15px;
}    
main #store__list .store__list__content .store__area__iwatuki h3 span{
  font-size:16px;
}    

main #store__list .store__list__content .store__area__iwatuki ul li{
  width:80%;  
  height:50vh;
  margin:auto;
  text-align:center;
}
main #store__list .store__list__content .store__area__iwatuki ul li .store__address{
  font-size:15px;
}

main #store__list .store__list__content .store__area__iwatuki ul li .store__tel{
   font-size:15px;
}    
main #store__list .store__list__content .store__area__iwatuki ul li .store__info{
  font-size:15px;
}    
main #store__list .store__list__content .store__area__iwatuki ul li .store__name{
  font-size:15px;
  margin-top:2vw;
}    
main #store__list .store__list__content .store__area__iwatuki ul li .store__recrute{
   font-size:15px;   
}
main #store__list .store__list__content .store__area__iwatuki ul li img{
  width:100%;   
}
main #store__list .store__list__content .store__area__oomiya{
  height:100%;
}
main #store__list .store__list__content .store__area__oomiya h2{
  font-size:15px;
}    
main #store__list .store__list__content .store__area__oomiya h3 span{
  font-size:16px;
}    

main #store__list .store__list__content .store__area__oomiya ul {
  flex-direction:column;
}    
main #store__list .store__list__content .store__area__oomiya ul li{
  width:80%;  
  height:50vh;
  margin:auto;
  text-align:center;
}
main #store__list .store__list__content .store__area__oomiya ul li .store__address{
  font-size:15px;
}

main #store__list .store__list__content .store__area__oomiya ul li .store__tel{
   font-size:15px;
}    
main #store__list .store__list__content .store__area__oomiya ul li .store__info{
  font-size:15px;
}    
main #store__list .store__list__content .store__area__oomiya ul li .store__name{
  font-size:15px;
  margin-top:2vw;
}    
main #store__list .store__list__content .store__area__oomiya ul li .store__recrute{
  font-size:15px;
}
main #store__list .store__list__content .store__area__oomiya ul li img{
  width:100%;   
}
main #store__list .store__list__content .store__area__tokyo{
  height:100%;
}
main #store__list .store__list__content .store__area__tokyo h2{
  font-size:15px;
}    
main #store__list .store__list__content .store__area__tokyo h3 span{
  font-size:16px;
}    

main #store__list .store__list__content .store__area__tokyo ul {
  flex-direction:column;
}    
main #store__list .store__list__content .store__area__tokyo ul li{
  width:80%;  
  height:50vh;
  margin:auto;
  text-align:center;
}
main #store__list .store__list__content .store__area__tokyo ul li .store__address{
  font-size:15px;
}

main #store__list .store__list__content .store__area__tokyo ul li .store__tel{
   font-size:15px;
}    
main #store__list .store__list__content .store__area__tokyo ul li .store__info{
  font-size:15px;
}    
main #store__list .store__list__content .store__area__tokyo ul li .store__name{
  font-size:15px;
  margin-top:2vw;
}    
main #store__list .store__list__content .store__area__tokyo ul li .store__recrute{
  font-size:15px;
  margin-top:3vw;
}
main #store__list .store__list__content .store__area__tokyo ul li img{
  width:100%;   
}
}

@media only screen and (max-width:700px){
header{
   position:relative;    
}
header .header__main__list{
  display:none;
}
header #header__hidden__content{
  display:block;
  width:100%;
  height:100%;
}
header #header__hidden__content .header__hidden__main{
  width:100%;
  height:100%;
  display:flex;
  justify-content:space-between;   
  align-items:center;
}
 
header #header__hidden__content .header__hidden__main .hidden__title h2{
  font-size:16px;
  margin-left:5vw;
}
header #header__hidden__content .header__menu div{
  width:5vw;   
  height:1vw;
  margin-right:5vw;
  border-top:2px solid #000;
  padding-bottom:1vw;
} 
header #header__hidden__content .header__hidden__list{
  display:none;
}
header #header__hidden__content .header__hidden__list.active{
   display:block;
   width:100%;
   height:80vw;
   background-color:#fff;
   z-index:3;
   position:absolute;
   animation:listAnimation 0.5s;
}
@keyframes listAnimation{
   0%{
     transform:translateX(-50vw);
  }
   100%{
     transform:translateX(0vw);
   }
  }
 
header #header__hidden__content .header__hidden__list ul .close__btn{
  font-size:10vw;
  margin-top:0vw;
  margin-left:85vw;
}    
header #header__hidden__content .header__hidden__list ul li{
  font-size:3vw;
  font-size:bold;
  margin-top:5vw;
  text-align:center;
}
main #store__index .store__index__top h2{
  font-size:16px;
}
main #store__index .store__index__top h3{
  font-size:15px;
}    
main #store__index .store__index__top{
  height:65vw;
}

main #store__index .store__index__top .store__index__image{
  height:50vw;
}
main #store__index .store__index__bottom{
  height:100%;
}
main #store__index .store__index__bottom
.store__index__bottom__text{
  flex-direction:column;
  text-align:center;
}    
main #store__index .store__index__bottom .store__index__bottom__text .store__title{
  font-size:16px;
  font-weight:bold;
}
    
  
main #store__index .store__index__bottom .store__index__bottom__text .store__text{
  font-size:15px;
  line-height:1.5em;
  margin-top:3vw;
  margin-bottom:10vw;
}

main #store__list h2{
  font-size:15px;
}
main #store__list h3{
  font-size:15px;
  margin-bottom:5vw;
}
main #store__list .store__list__content .store__area__souka{
  height:100%;
}    
main #store__list .store__list__content .store__area__souka ul{
  flex-direction:column;
}

main #store__list .store__list__content .store__area__souka ul li{
  width:80%;
  margin:auto;
}

main #store__list .store__list__content .store__area__souka ul li img{
  width:100%;
  height:30vw;
}
main #store__list .store__list__content .store__area__urawa{
  height:100%;
}
main #store__list .store__list__content .store__area__urawa ul {
  flex-direction:column;
}    
main #store__list .store__list__content .store__area__urawa ul li{
  width:80%;   
  margin:auto;
}

main #store__list .store__list__content .store__area__urawa ul li img{
  width:100%;   
}
main #store__list .store__list__content .store__area__iwatuki{
  height:100%;
}
main #store__list .store__list__content .store__area__iwatuki ul {
  flex-direction:column;
}    
main #store__list .store__list__content .store__area__iwatuki ul li{
  width:80%;   
  margin:auto;
}

main #store__list .store__list__content .store__area__iwatuki ul li img{
  width:100%;
  height:30vw;
}
main #store__list .store__list__content .store__area__oomiya{
  height:100%;
}
main #store__list .store__list__content .store__area__oomiya ul {
  flex-direction:column;
}    
main #store__list .store__list__content .store__area__oomiya ul li{
  width:80%;   
  margin:auto;
}

main #store__list .store__list__content .store__area__oomiya ul li img{
  width:100%;
  height:30vw;
}
main #store__list .store__list__content .store__area__tokyo{
  height:100%;
}
main #store__list .store__list__content .store__area__tokyo ul {
  flex-direction:column;
}    
main #store__list .store__list__content .store__area__tokyo ul li{
  width:80%;   
  margin:auto;
}

main #store__list .store__list__content .store__area__tokyo ul li img{
  width:100%; 
  height:30vw;
}
footer{
  height:40vw;                                
}
footer #footer__content .footer__image{       
  display:none;                                 
}
footer #footer__content .footer__info{
  display:none;
}
footer #footer__content .footer__list{        
  height:15vh;                                
}
   
footer #footer__content .footer__list ul{     
   flex-direction:column;                      
   border-top:1px solid #bbb;
}    
footer #footer__content .footer__list ul li{  
   padding-top:3vw;
   font-size:15px;
}
   
footer #footer__content .footer__list ul li:hover{
   opacity:0.6;                      
}

}
